<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vshop.veat.mapper.ProductCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vshop.veat.entity.ProductCategory">
        <id column="product_category_id" property="productCategoryId"/>
        <result column="product_category_name" property="productCategoryName"/>
        <result column="product_category_type" property="productCategoryType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="selectByProductCategoryTypeList" resultMap="BaseResultMap">
        select *
        from ve_product_category
        <where>
            1=2
            <if test="null!=productCategoryTypes">
                <foreach collection="productCategoryTypes" item="type">
                    or product_category_type=#{type}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
